html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  a, a:visited {
    text-decoration: none; }
  
  a:hover {
    text-decoration: none; }
  ol, ul {
    list-style: none;
  }
.hero{
    min-height: 100%;
    overflow: hidden;
}
  img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
  }
main{
  padding-top: 126px;
}
/* ---------------------------------------------- */
.header{
    position: fixed;
   background-color: white;
     padding-top: 40px;
     padding-bottom: 40px;
     top: 0px; 
     left: 0px;   
     width: 100%;
}
.header-bg{
 background-color:#F9F7FE;;
  
}

.container
{
    max-width: 1140px;
    margin: 0  auto;
     box-sizing: content-box;  
}


.navbar{
   display: flex;
    align-items: center; 
     z-index: 50; 
  }  


.navbar_menu{
    padding: 0px  0px 0px 665px; 
}
@media (max-width:992px) {
.navbar_menu{
        float: right;
        padding: 0px  0px 0px 545px;  
}
  }  
  @media (max-width:767px) {
    .navbar_menu{
            float: right;
            padding: 0px  0px 0px 345px;  
    }
      }  
      @media (max-width:375px) {
        .navbar_menu{
                float: right;
                padding: 0px  0px 0px 145px;
 
        }
          }  
        
.menu_list{
 display: flex; 

  }
.menu_item{
flex-flow: row-reverse nowrap;

  }
  .menu_item:not(:last-child){
    margin: 0px 30px 0px 0px;
    
      }
.menu_link{
    text-decoration: none;
    color: #272142;
    opacity: 70%;
    transition: all .09s ease-in-out ;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.menu_link:hover{
    color: #6C63FF;
}
/* ------------------------------------- */
.hero{
  background: #F9F7FE;
  height: calc(100vh - 126px);
  display: flex;
  flex-direction: column;

}

.title{
font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 85px;

color: #000000;

}
.title-span{
  display: block;
}
.caption{
    margin: auto;
    text-align: center;
    width: 529px;
padding-top: 40px;
}
.caption-1{
  margin: auto;
  text-align: center;
  font-style: normal;
}  

.caption-1 h1{
  font-family: 'Playfair Display';
  
  font-weight: 700;
  font-size: 96px;
  line-height: 128px;

  color: #000000;
 
  }
  .caption-1 h2{
      
  font-family: 'Poppins';
 
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  
  
  color: #272142;
  }
  .caption-1 h3{
   margin-top: 24px; 
  
  font-family: 'Poppins';
 
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #272142;
  margin-bottom: 50px;
  }
.caption-portfilio{ 
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
  
    color: #000000;
}
.caption-description{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
 
     white-space: auto;
    
    padding-top: 15px;
    color: #272142; 
}

/* -------------------------------------- */
.row{
   display: flex;
     margin: 80px -20px ;    
} 

.col-2{
    width: 50%;
margin: 0 20px;
display: flex;
    
}
.col-description{
   margin: auto;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.col-2_descr{
    padding-top: 30px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
color: #272142;
}
.col-2_par{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: rgba(39, 33, 66, 0.7);
margin-top: 30px;
}

/* ---------------------------- */

.work{
    display: flex;
    margin-top: 100px;
}

.row_work{  
    align-items: center;
   
}
.work-1{
     padding: 0 40px 0  0 ;
}

.col_work{
  padding-top: 20px;
}
.title1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;
}
.title2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
text-align: center;
padding-bottom: 40px;

color: rgba(39, 33, 66, 0.7);
}


/* -------------------------*/
.inquiry{
  
    background: #F9F7FE;

  margin:120px 0;
  padding: 45px 120px;
  display: flex;

  border-radius: 20px;
  align-items: center;
  justify-content: space-between;

}

.col-3_par{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: rgba(39, 33, 66, 0.7);
padding-top: 20px;
}

.col-4{
    display: flex;
}

.button-border{
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  
  color: #6C63FF;
  border: 1px solid #6C63FF;
  background-color: white;

  margin-top: 50px;
}
.button-border:hover{
  background-color:#6C63FF;
  color: white;
}
.button{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  text-align: center;
  padding: 18px 0;
  width: 200px;
  display: block;
  border-radius: 4px;
  
  }
.button-pimary{
color: #FFFFFF;
font-size: 18px;
  line-height: 27px;
   background: #6C63FF;
   border: none; 
   margin: auto;
  }
  .button-pimary:hover{
      
      color: #6C63FF;
      border: 1px solid #6C63FF;
      border-radius: 4px;
      background-color:white;  
  }
.button-2{
  margin:  50px 0;
}
.media{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    
}
.fsb{
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgba(108, 99, 255, 0.05);
    border-radius: 100%;
    flex-wrap: wrap;
    gap: 30px;
 }
.footer_par{
    font-weight: 500;  
    }
  